In [1]:
import pandas as pd
import numpy as np

### Timestamp

Pandas 有四种和时间相关的类：Timestamp, DatetimeIndex, Period, PeriodIndex.  
首先Timestamp：代表了一个时间戳  
Timestamp 通常和 Python 中 datetime 类可互相转换

In [2]:
# 使用字符串 '9/1/2019 10:05AM' 创建一个 Timestamp
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
# 也可以对 year, month, date, hour, minute 等分别传参来构建 Timestamp
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [4]:
# Timestamp有一些有用的 attributes，例如：isoweekday()，显示星期内天数
# 注意 1 代表周一，7 代表周日
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday() # 周五

5

In [5]:
# 可以从 Timestamp 中抽取出 year, month, day, hour, minute, second 的信息
pd.Timestamp(2019, 12, 20, 5, 2,23).second

23

### Period

In [6]:
# 当关注时间段而非时间点时，可以考虑 Period
# Period 代表了单独一个时间段，可以是一天，一个月
# 这里创建了一个 Period 2016年1月份
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
# 上述打印结果里的 'M' 表示了该 Period 的最小单位
pd.Period('3/5/2016') # 这里最小单位为 'D' 天

Period('2016-03-05', 'D')

In [8]:
# 对于 Period 的运算：
# 想在原有 Period 加减时间段只需要加减数字（数字代表最小单位）
print(pd.Period('1/2016') + 5) # 加五个月
print(pd.Period('3/5/2016') - 2) # 减两天

2016-06
2016-03-03

### DatetimeIndex & PeriodIndex

In [9]:
# 对于 Timestamp 的索引就是 DatetimeIndex
# 下例为创建一个 Series t1，其中index为三个 Timestamp
t1 = pd.Series(list('abc'), [pd.Timestamp('2020-10-01'), pd.Timestamp('2020-10-03'), 
                             pd.Timestamp('2020-10-09')])
t1

2020-10-01    a
2020-10-03    b
2020-10-09    c
dtype: object

In [10]:
# t1 的索引类型为 DatetimeIndex
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [11]:
# 同样也可以使用 Period 来创建索引 
t2 = pd.Series(list('abc'), [pd.Period('2020-09'), pd.Period('2020-10'), 
                             pd.Period('2020-11')])
t2

2020-09    a
2020-10    b
2020-11    c
Freq: M, dtype: object

In [12]:
# t2 的索引类型为 PeriodIndex 
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### 转化至 Datetime

In [13]:
# 如何从时间相关字符串传换成 Datetime
# 下列字符串有不同类型，但均可转换
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))
ts3

               a   b
2 June 2013   16  60
Aug 29, 2014  85  74
2015-06-26    12  71
7/12/16       47  57

In [14]:
# 使用 pandas.to_datetime 来将上述字符串转换为 Datetime 标准模式
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  16  60
2014-08-29  85  74
2015-06-26  12  71
2016-07-12  47  57

In [15]:
# to_datetime 中有多种参数来改变输出格式 
# 例如通过设置 dayfirst = True 将会把字符串按日-月-年 (欧洲日期格式) 来读入并转换
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

### Timedelta

In [16]:
# Timedelta 是时间差，它不同于 Period 但含义相同
# 如下例，9/3/2016 和 9/1/2016 的 Timestamp 之差为 2 天的 Timedelta
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [17]:
# Timestamp 也可以和 Timedelat 之间相加减来得到新的 Timestamp
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Offset

In [18]:
# Offset 和 Timedelta 相似，但是它遵循特定的规则
# Offset 允许更灵活的时间段，除了 hour, day, week, month 等，它支持 business day, end of month, semi month begin 等
pd.Timestamp('9/4/2016').weekday()

6

In [19]:
# 下例为将 9/4/2016 Timestamp 加上一个星期
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [20]:
# 下例为将 9/4/2016 Timestamp 加到当前月末
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

### 包含时间的 Dataframe

In [21]:
# 对于包含时间的 DataFrame，我们也有许多技巧
# 可以借助 pd.data_range 生成 DatetimeIndex
# 给定 start, end, periods, freq 中的三个便可以生成唯一的 DatetimeIndex
# 这里的‘2W-SUN' 代表着每隔一周的周日对应日期

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [22]:
# freq 多种多样，例如 'B' 代表 Business day
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [23]:
# 'QS-JUN' 代表从六月分开始的季度 (3月间隔)
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [24]:
# 构建一个以 DatetimeIndex 为索引的 DataFrame
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      100      118
2016-10-16      106      128
2016-10-30      110      118
2016-11-13      112      127
2016-11-27      107      126
2016-12-11      112      118
2016-12-25      120      117
2017-01-08      128      115
2017-01-22      128      122

In [25]:
# 首先可以使用 weekday_name 检查时间对应星期
df.index.weekday_name

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [26]:
# 使用 df.diff() 可以计算相邻时间间隔里各个列数据差
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      6.0     10.0
2016-10-30      4.0    -10.0
2016-11-13      2.0      9.0
2016-11-27     -5.0     -1.0
2016-12-11      5.0     -8.0
2016-12-25      8.0     -1.0
2017-01-08      8.0     -2.0
2017-01-22      0.0      7.0

In [27]:
# 借助 df.resample() 可以将原 DataFrame 依照给定时间单位重组
# 从高频数据降到低频数据称作 downsampling
df.resample('M').mean()

               Count 1     Count 2
2016-10-31  105.333333  121.333333
2016-11-30  109.500000  126.500000
2016-12-31  116.000000  117.500000
2017-01-31  128.000000  118.500000

In [28]:
# 对于 datetime 的索引和切片是很灵活好用的
# 我们甚至可以使用片面的时间字符串进行索引，下例为对 DataFrame 检索 2017 年的数据
df['2017']

            Count 1  Count 2
2017-01-08      128      115
2017-01-22      128      122

In [29]:
# 下例为对 DataFrame 检索 2016 年 12 月份数据
df['2016-12']

            Count 1  Count 2
2016-12-11      112      118
2016-12-25      120      117

In [30]:
# 也可以进行范围切片
# 下例为对 DataFrame 2016 年 12 月后数据进行切片
df['2016-12':]

            Count 1  Count 2
2016-12-11      112      118
2016-12-25      120      117
2017-01-08      128      115
2017-01-22      128      122

In [31]:
df['2016']

            Count 1  Count 2
2016-10-02      100      118
2016-10-16      106      128
2016-10-30      110      118
2016-11-13      112      127
2016-11-27      107      126
2016-12-11      112      118
2016-12-25      120      117